<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-3.0.xsd
						http://www.springframework.org/schema/oxm
						http://www.springframework.org/schema/oxm/spring-oxm-3.0.xsd">



<!--  
	<oxm:jaxb2-marshaller id="marshaller" contextPath="com.ggasoftware.pdfviewer.pdfservice.schemas" />

<oxm:jaxb2-marshaller id="marshaller">
    <oxm:class-to-be-bound name="com.ggasoftware.pdfviewer.pdfservice.schemas.PdfParseRequest"/>
    <oxm:class-to-be-bound name="com.ggasoftware.pdfviewer.pdfservice.schemas.PdfParseResponse"/>
    <oxm:class-to-be-bound name="com.ggasoftware.pdfviewer.pdfservice.schemas.highlighting.HighLightingRequest"/>
    <oxm:class-to-be-bound name="com.ggasoftware.pdfviewer.pdfservice.schemas.highlighting.HighLightingResponse"/>
    <oxm:class-to-be-bound name="com.ggasoftware.pdfviewer.pdfservice.schemas.getImage.GetImageRequest"/>
    <oxm:class-to-be-bound name="com.ggasoftware.pdfviewer.pdfservice.schemas.getImage.GetImageResponse"/>
   
</oxm:jaxb2-marshaller>
-->
<bean id="marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
 <!-- 
	<property name="contextPath" value ="com.ggasoftware.pdfviewer.pdfservice.schemas"/>
	  -->
	  
	 <!-- 
	<property name="mtomEnabled" value="true"/> 
	 <property name="classesToBeBound">
            <list>
                <value>com.ggasoftware.pdfviewer.pdfservice.schemas.PdfParseRequest</value>
                <value>com.ggasoftware.pdfviewer.pdfservice.schemas.PdfParseResponse</value>
                <value>com.ggasoftware.pdfviewer.pdfservice.schemas.highlighting.HighLightingRequest</value>
                <value>com.ggasoftware.pdfviewer.pdfservice.schemas.highlighting.HighLightingResponse</value>
                <value>com.ggasoftware.pdfviewer.pdfservice.schemas.getImage.GetImageRequest</value>
                <value>com.ggasoftware.pdfviewer.pdfservice.schemas.getImage.GetImageResponse</value>
            </list>
     </property>
</bean>
 -->

	<bean id="webServiceTemplate" class="org.springframework.ws.client.core.WebServiceTemplate">
		<property name="marshaller" ref="marshaller" />
		<property name="unmarshaller" ref="marshaller" />
		
		<property name="defaultUri" value="http://localhost:8081/pdfregistrator/pdfparse" />
		
		<property name="interceptors">
			<list>
				<ref bean="payloadValidatingInterceptor" />
			</list>
		</property>
		
	</bean>

	<bean id="objectFactory" class="com.ggasoftware.pdfviewer.pdfservice.schemas.ObjectFactory" />	

	<bean id="payloadValidatingInterceptor"
		class="org.springframework.ws.client.support.interceptor.PayloadValidatingInterceptor">
		<property name="schemas">
		<list>
<!-- 
			<value>file:src/main/webapp/WEB-INF/xsd/pdfparse.xsd</value>
			<value>file:src/main/webapp/WEB-INF/xsd/highLighting.xsd</value>			
			<value>file:src/main/webapp/WEB-INF/xsd/getImage.xsd</value>	
 -->
 			<value>WEB-INF/xsd/pdfparse.xsd</value>
			<value>WEB-INF/xsd/highLighting.xsd</value>			
			<value>WEB-INF/xsd/getImage.xsd</value>	
 
		</list> 
		
		</property>
		<property name="validateRequest" value="false" />
		<property name="validateResponse" value="false" />
	</bean>

</beans>
